<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="feat-title">
            <h2><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h2>
            <h4>{{localize "SBB.common.prerequisite"}}: <input name="system.prerequisite" type="text" value="{{item.system.prerequisite}}" id="prerequisite"/></h4>
        </div>
    </header>
    <div class="sheet-content">
        {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>