<div class="dice-roll SBB skill-roll">
    <div>
        <h2 class="title">
            <div class="check-type">{{localize checkName}}</div>
        </h2>
    </div>
    <div class="roll-summary">
        <h2 class="dice-formula">{{formula}}</h2>
        <h2 class="dice-total action-result">
            {{roll.total}}
        </h2>

        {{#if difficulty}}
            <h4 class="dice-total {{passed}}">
                {{localize outcome}}
            </h4>
        {{/if}}

        {{{tooltip}}}
    </div>
</div>