<div class="item-sheet-card flexrow" data-type="{{this._id}}">

    <div class="item-title rollable">
        <div class="item-icon item-rollable" data-type="{{this._id}}"
        style="background-image: url('{{this.img}}')"></div>
        <h3><a class="toggle-description">{{name}}</a></h3>
    </div>


<!--    TODO make this item useable for other things than weapons

        make it useable for bag sheet as well
-->



<!--
       If sheet is set to main its either displaying a weapon or ammo
       If so we want the main input to be a single number filed for either quantity of ammo
       or amount of ammo in a gun
-->
    {{#if (eq sheet "main")}}
        <input class="inline-edit" type="number"
            {{#if (eq type "Weapon")}}
                data-field="system.magazine.value" value="{{this.system.magazine.value}}"
                   min="0", max="{{system.magazine.max}}"
            {{else}}
               data-field="system.Quantity" value="{{this.system.Quantity}}"
               min="0"
            {{/if}}
        />
    {{/if}}



    {{#if (eq type "Weapon")}}
        <div class="item-summary hidden hide-on-click">
            <div class="item-properties">
                <span class="tag">{{localize "SBB.weaponHeaders.damageType"}}
                : {{localize system.damageType}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.handsRequired"}}
                    : {{system.handsRequired}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.harmRange_short"}}
                    : {{system.handsRequired}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.handsRequired"}}
                    : {{system.harmRange}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.rof"}}
                    : {{system.rof}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.techLevel"}}
                    : {{system.techLevel}}</span>
            </div>
        </div>
    {{/if}}
</div>