<li class="item flexrow" data-type="{{this._id}}">

    <div class="item-title rollable">
        <div class="item-icon item-rollable" data-type="{{this._id}}"
        style="background-image: url('{{this.img}}')"></div>
        <h4><a class="toggle-description">{{name}}</a></h4>
    </div>


    {{#if (eq type "Weapon")}}
        <input class="inline-edit item-detail" type="number"
               data-field="system.magazine.value" value="{{this.system.magazine.value}}"
               min="0", max="{{system.magazine.max}}"/>

        <div class="item-detail">{{system.magazine.max}}</div>

    {{/if}}

    {{#if (eq type "Ammunition")}}
        <input class="inline-edit item-detail" type="number"
               data-field="system.quantity" value="{{this.system.quantity}}"
               min="0"/>

        <div class="item-detail">{{#multiply system.weight system.quantity}}{{/multiply}}</div>
    {{/if}}



    <div class="item-detail-space">
        <i class="fa fa-pen-to-square" data-type="{{this._id}}"></i>
    </div>

    <div class="item-summary hidden hide-on-click">
        <div class="item-properties">
            {{#if (eq type "Weapon")}}
                <span class="tag">{{localize "SBB.weaponHeaders.damageType"}}
                : {{localize system.damageType}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.damage"}}
                    : {{localize system.formula}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.handsRequired"}}
                    : {{system.handsRequired}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.harmRange_short"}}
                    : {{system.harmRange}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.rof"}}
                    : {{system.rof}}</span>

                <span class="tag">{{localize "SBB.weaponHeaders.techLevel"}}
                    : {{system.techLevel}}</span>
            {{/if}}
        </div>

        {{editor system.description target="system.description" button=false owner=owner editable=false}}
    </div>

</li>