<div class="SBB weapon-roll" data-owner-id="{{actor._id}}">

    <div class="weapon-info">
        <h3>{{name}}</h3>

        <ul>
            <li>{{localize "SBB.weaponHeaders.linkedSkill"}} : {{system.skill}}</li>
            <li>{{localize "SBB.weaponHeaders.damageType"}} : {{localize system.damageType}}</li>
            <li>{{localize "SBB.weaponHeaders.rof"}} : {{system.rof}}</li>
            <li>{{localize "SBB.weaponHeaders.harmRange"}} : {{system.harmRange}}</li>
            <li>{{localize "SBB.weaponHeaders.techLevel"}} : {{system.techLevel}}</li>
        </ul>
        <p>{{system.Description}}</p>
    </div>

    <div class="weapon-rages">
        <h3>{{localize "SBB.common.range_unit"}}</h3>

        <table class="range-table">

        {{#each system.range}}
            <tr>
                <td>{{localize (lookup ../config/rangeHeaders @key)}}</td>
                <td>{{this}}</td>
            </tr>
        {{/each}}
        </table>

    </div>

    <div class="weapon-buttons" data-item-id="{{_id}}" data-owner-id="{{actor._id}}"
    {{#if (eq this.parent.isToken true)}}
        data-token-id={{this.parent.token.sheet.id}}
    {{/if}}
    >
        <button class="attack">{{localize "SBB.common.attack"}}</button>
        <button class="damage">{{localize "SBB.weaponHeaders.damage"}}</button>
    </div>

</div>