<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">

        <div class="flexcol left-alined-content">
            <h1 class="title-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SBB.common.name"}}"/>
            </h1>

            <div class="biomonitor flexrow">
                <div class="biomonitor-header">
                    <h1>{{localize "SBB.common.biomonitor"}}</h1>
                    <img src="systems/sbb/assets/bodyscan.jpg">

                    <!--TODO make this dynamic-->
                    Status : Healthy
                    <br>
                    {{localize "SBB.common.speed"}} : {{actor.system.attributes.move}}
                </div>
                {{> systems/sbb/templates/sheets/partials/status-box.hbs}}
            </div>

            <div class="personal-files">
                <h1>{{localize "SBB.tabNames.personalfiles"}}</h1>
                <nav class="sheet-navigation main-tabs" data-group="primary">
                    {{#each config.pcNavbar}}
                        <a class="item" data-tab="{{@key}}">{{localize this}}</a>
                    {{/each}}
                </nav>
            </div>

        </div>

        <div class="nav-context-box">
            <div class="tab" data-group="primary" data-tab="personal">
                1
            </div>

            <div class="tab" data-group="primary" data-tab="skills">
                {{> "systems/sbb/templates/sheets/partials/skill-box.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="features">
3
            </div>

            <div class="tab" data-group="primary" data-tab="equipment">
4
            </div>

            <div class="tab" data-group="primary" data-tab="implants">
5
            </div>

            <div class="tab" data-group="primary" data-tab="injuries">
6
            </div>

            <div class="tab" data-group="primary" data-tab="attributes">
7
            </div>

            <div class="tab" data-group="primary" data-tab="notes">
8
            </div>

        </div>
    </section>
</form>