<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">

        <div class="flexcol left-alined-content">
            <div class="biomonitor flexrow">
                <div class="biomonitor-header">
                    <h1>{{localize "SBB.common.biomonitor"}}</h1>
                    <img src="systems/sbb/assets/bodyscan.jpg">

                    <table>
                        <tr>
                            <td>{{localize "SBB.common.speed"}}</td>
                            <td>{{actor.system.speed}}</td>
                        </tr>
                        <tr>
                            <td>{{localize "SBB.common.resolve"}}</td>
                            <td {{#if (eq actor.system.resolve 0)}} class="inactive"{{/if}}>
                                <input class="resolve-input" name="system.resolve" type="number"
                                       value="{{actor.system.resolve}}">
                            </td>
                        </tr>
                        <tr class="toggle-tenet">
                            <td>{{localize "SBB.common.tenet"}}</td>
                            <td
                                {{#if actor.system.usingTenet}}
                                >{{localize "SBB.common.active"}}
                                {{else}}
                                    class="inactive">{{localize "SBB.common.inactive"}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr class="toggle-focus">
                            <td>{{localize "SBB.common.focus"}}</td>
                            <td
                                {{#if actor.system.usingFocus}}
                                >{{localize "SBB.common.active"}}
                                {{else}}
                                    class="inactive">{{localize "SBB.common.inactive"}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{localize "SBB.common.skillMod"}}</td>
                            <td {{#if (eq actor.system.modifiers.skillMod 0)}} class="inactive"{{/if}}>
                                <input class="skillMod-input" name="system.modifiers.skillMod" type="number"
                                       value="{{actor.system.modifiers.skillMod}}">
                            </td>
                        </tr>
                    </table>
                </div>
                {{> systems/sbb/templates/sheets/partials/status-box.hbs}}
            </div>

            <div class="personal-files">
                <h1>{{localize "SBB.tabNames.personalfiles"}}</h1>
                <nav class="sheet-navigation main-tabs" data-group="primary">
                    {{#each config.pcNavbar}}
                        <a class="item" data-tab="{{@key}}">{{localize this}}</a>
                    {{/each}}
                </nav>
            </div>

        </div>

        <div class="nav-content-box">
            <div class="tab" data-group="primary" data-tab="personal">
                <h1>{{localize "SBB.tabNames.personalfiles"}}</h1>
                {{> "systems/sbb/templates/sheets/partials/personal-box.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="skills">
                <h1>{{localize "SBB.common.skills"}} </h1>
                {{> "systems/sbb/templates/sheets/partials/skill-box.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="features">
                <h1>{{localize "SBB.tabNames.features"}}</h1>
                {{> "systems/sbb/templates/sheets/partials/feat-box.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="equipment">
                <h1>{{localize "SBB.tabNames.equipment"}}</h1>
                {{> "systems/sbb/templates/sheets/partials/equipmant.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="enhancements">
                <h1>{{localize "SBB.tabNames.enhancements"}}</h1>
                {{> "systems/sbb/templates/sheets/partials/enhancements.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="injuries">
                <h1>{{localize "SBB.tabNames.injuries"}}</h1>
                {{> "systems/sbb/templates/sheets/partials/injuries.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="attributes">
                <h1>{{localize "SBB.tabNames.attributes"}}</h1>
                {{> "systems/sbb/templates/sheets/partials/character-attributes.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="notes">
                <div class="note-tab">
                    <div class="note-header">
                        <h1>{{localize "SBB.tabNames.notes"}}</h1>
                    </div>
                    <div class="note-content">
                        {{editor actor.system.playerBio.notes target="system.playerBio.notes" button=true owner=owner
                                 editable=editable engine="prosemirror"}}
                    </div>
                </div>
            </div>

        </div>
    </section>
</form>