<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">

        <div class="flexcol left-alined-content">
            <h1 class="title-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SBB.common.name"}}"/>
            </h1>

            <div class="biomonitor flexrow">
                <div class="biomonitor-header">
                    <h1>{{localize "SBB.common.biomonitor"}}</h1>
                    <img src="systems/sbb/assets/bodyscan.jpg">

                    <!--TODO make this dynamic-->
                    <table>
                        <tr>
                            <td>Status</td>
                            <td>Healthy</td>
                        </tr>
                        <tr>
                            <td>{{localize "SBB.common.speed"}}</td>
                            <td>{{actor.system.attributes.move}}</td>
                        </tr>
                        <tr>
                            <td>{{localize "SBB.common.resolve"}}</td>
                            <td {{#if (eq actor.system.resolve 0)}} class="inactive"{{/if}}>
                                <input class="resolve-input" name="system.resolve" type="number" value="{{actor.system.resolve}}">
                            </td>
                        </tr>
                        <tr class="toggle-tenet">
                            <td>{{localize "SBB.common.tenet"}}</td>
                            <td
                                {{#if actor.system.usingTenet}}
                                    >{{localize "SBB.common.active"}}
                                {{else}}
                                    class="inactive">{{localize "SBB.common.inactive"}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr class="toggle-focus">
                            <td>{{localize "SBB.common.focus"}}</td>
                            <td
                                {{#if actor.system.usingFocus}}
                                    >{{localize "SBB.common.active"}}
                                {{else}}
                                    class="inactive">{{localize "SBB.common.inactive"}}
                                {{/if}}
                            </td>
                        </tr>
                    </table>
                </div>
                {{> systems/sbb/templates/sheets/partials/status-box.hbs}}
            </div>

            <div class="personal-files">
                <h1>{{localize "SBB.tabNames.personalfiles"}}</h1>
                <nav class="sheet-navigation main-tabs" data-group="primary">
                    {{#each config.pcNavbar}}
                        <a class="item" data-tab="{{@key}}">{{localize this}}</a>
                    {{/each}}
                </nav>
            </div>

        </div>

        <div class="nav-context-box">
            <div class="tab" data-group="primary" data-tab="personal">
                1
            </div>

            <div class="tab" data-group="primary" data-tab="skills">
                {{> "systems/sbb/templates/sheets/partials/skill-box.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="features">
                {{> "systems/sbb/templates/sheets/partials/feat-box.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="equipment">
                {{> "systems/sbb/templates/sheets/partials/equipmant.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="implants">
5
            </div>

            <div class="tab" data-group="primary" data-tab="injuries">
6
            </div>

            <div class="tab" data-group="primary" data-tab="attributes">
                {{> "systems/sbb/templates/sheets/partials/character-attributes.hbs"}}
            </div>

            <div class="tab" data-group="primary" data-tab="notes">
8
            </div>

        </div>
    </section>
</form>