<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">
        <div class="status-box">
            <div class="name-image-box">
                <h1><input name="name" type="text" value="{{actor.name}}"/></h1>
                <img class="NPCimg" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>

            {{> "systems/sbb/templates/sheets/partials/vehicle-status-box.hbs"}}
        </div>

        <div class="nav-box">
            <h1>{{localize "SBB.vehicle.navbar.title"}}</h1>
            <nav class="sheet-navigation main-tabs" data-group="primary">
                {{#each config.vehicleNavBar}}
                    <a class="item" data-tab="{{@key}}">{{localize this}}</a>
                {{/each}}
            </nav>
        </div>

        <div class="nav-content-box">
            <div class="tab" data-group="primary" data-tab="action">
1
            </div>

            <div class="tab" data-group="primary" data-tab="crew">

            </div>

            <div class="tab" data-group="primary" data-tab="fittings">

            </div>

            <div class="tab" data-group="primary" data-tab="defenses">

            </div>

            <div class="tab" data-group="primary" data-tab="weaponry">

            </div>
        </div>
    </section>
</form>