<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">
        <div class="status-box">
            <h1><input name="name" type="text" value="{{actor.name}}"/></h1>

            <div class="status-bars">
                <div class="health-bar">
                {{> "systems/sbb/templates/sheets/partials/statusBar.hbs"
                        title="SBB.common.health" current=actor.system.HP.value max=actor.system.HP.max}}
                </div>

                <div class="fuel-bar">
                    {{> "systems/sbb/templates/sheets/partials/statusBar.hbs"
                            title="SBB.vehicle.statusLabels.fuel" current=actor.system.fuel.value max=actor.system.fuel.max}}
                </div>

                <div class="crew-bar">
                    {{> "systems/sbb/templates/sheets/partials/statusBar.hbs"
                            title="SBB.vehicle.statusLabels.crew" current=actor.system.crew.value max=actor.system.crew.max
                            min=actor.system.crew.min}}
                </div>
            </div>

            <div class="status-table">
                <h2>{{localize "SBB.vehicle.statusLabels.diagnostics"}}</h2>
                <div class="vehicle-settings-div">
                    <i class="fa fa-cog vehicle-settings" title="{{localize "SBB.vehicle.statusLabels.crew.settings"}}"></i>
                </div>
                {{> "systems/sbb/templates/sheets/partials/vehicle-status-box.hbs"}}
            </div>

            <div class="action-buttons">
                <button type="button" id="pilot-check">{{localize "SBB.vehicle.statusLabels.pilot"}}</button>
                <button type="button" id="repair">{{localize "SBB.vehicle.statusLabels.repair"}}</button>
            </div>
        </div>

        <div class="nav-box">
            <img class="vehicle-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <h1>{{localize "SBB.vehicle.navbar.title"}}</h1>
            <nav class="sheet-navigation main-tabs" data-group="primary">
                {{#each config.vehicleNavBar}}
                    <a class="item" data-tab="{{@key}}">{{localize this}}</a>
                {{/each}}
            </nav>
        </div>

        <div class="nav-content-box">
            <div class="tab" data-group="primary" data-tab="action">
1
            </div>

            <div class="tab" data-group="primary" data-tab="crew">

            </div>

            <div class="tab" data-group="primary" data-tab="fittings">

            </div>

            <div class="tab" data-group="primary" data-tab="defenses">

            </div>

            <div class="tab" data-group="primary" data-tab="weaponry">

            </div>
        </div>
    </section>
</form>