<div class="attributes" >
    <h1>{{localize "SBB.tabNames.attributes"}}</h1>

    <h2>{{localize "SBB.common.total"}} : {{actor.flags.sbb.attributeCount}}</h2>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.body"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.body" type="number" value="{{actor.system.attributes.body}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.control"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.control" type="number" value="{{actor.system.attributes.control}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.intelligence"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.intelligence" type="number" value="{{actor.system.attributes.intelligence}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.presence"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.presence" type="number" value="{{actor.system.attributes.presence}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.technique"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.technique" type="number" value="{{actor.system.attributes.technique}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.fortitude"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.fortitude" type="number" value="{{actor.system.attributes.fortitude}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.reflex"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.reflex" type="number" value="{{actor.system.attributes.reflex}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.willpower"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.willpower" type="number" value="{{actor.system.attributes.willpower}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.attributes.move"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.move" type="number" value="{{actor.system.attributes.move}}"/>
        </div>
    </div>

    <h1>{{localize "SBB.common.modifiers"}}</h1>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.common.hp"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.modifiers.HP" type="number" value="{{actor.system.modifiers.HP}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.common.strain"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.modifiers.strain" type="number" value="{{actor.system.modifiers.strain}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <h3 class="attribute-title">{{localize "SBB.common.initiative"}}</h3>
        <div class="attribute-value">
            <input class="attributes-input" name="system.modifiers.initiative" type="number" value="{{actor.system.modifiers.initiative}}"/>
        </div>
    </div>

</div>