<div class="attributes" >

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.body"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.body" type="number" value="{{actor.system.attributes.body}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.control"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.control" type="number" value="{{actor.system.attributes.control}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.intelligence"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.intelligence" type="number" value="{{actor.system.attributes.intelligence}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.presence"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.presence" type="number" value="{{actor.system.attributes.presence}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.technique"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.technique" type="number" value="{{actor.system.attributes.technique}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.fortitude"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.fortitude" type="number" value="{{actor.system.attributes.fortitude}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.reflex"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.reflex" type="number" value="{{actor.system.attributes.reflex}}"/>
        </div>
    </div>

    <div class="attribute-box">
        <div class="attribute-title">{{localize "SBB.attributes.willpower"}}</div>
        <div class="attribute-value">
            <input class="attributes-input" name="system.attributes.willpower" type="number" value="{{actor.system.attributes.willpower}}"/>
        </div>
    </div>

</div>