<div class="crew-list-box">
    <div class="role-list">
        <table>
            <tr>
                <th>{{localize "SBB.vehicle.sheetOther.departments"}}</th>
                <th>{{localize "SBB.vehicle.sheetOther.head"}}</th>
                <th>{{localize "SBB.vehicle.sheetOther.workers"}}</th>
            </tr>

            {{#each crew.roleList}}
                <tr>
                    <td>{{localize title}}</td>
                    <td>{{localize name}}</td>
                    <td>
                        <input type="number" class="crew-input" data-type="{{@index}}"
                        value="{{amount}}">
                    </td>
                </tr>
            {{/each}}

        </table>
    </div>

    <div class="crew-list">
        <li class="flexrow crew-header">
            <div class="item-detail">{{localize "SBB.vehicle.statusLabels.crew"}}</div>
            <div class="item-detail">{{localize "SBB.vehicle.sheetOther.biomonitor"}}</div>
        </li>

        <ol class="actor-list">
            {{#each crew.namedCrew}}
                <li class="actor flexrow" data-uuid="{{uuid}}" data-type="actor">
                    <div class="id-name-combo flexrow">
                        <div class="crew-image" style='background-image: url({{img}})'></div>

                        {{localize name}}
                            <br>
                        {{localize "SBB.vehicle.sheetOther.id"}} {{localize id}}
                    </div>

                    <div class="biomonitor flexcol">
                        <div class="hp-bar">
                            {{> "systems/sbb/templates/sheets/partials/statusBar.hbs"
                                 current=hp.value max=hp.max}}
                        </div>
                        <div class="strain-bar">
                            {{> "systems/sbb/templates/sheets/partials/statusBar.hbs"
                                    current=strain.value max=strain.max}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>

</div>