<div class="health-box">
    {{#if (eq actor.type "Character")}}
        <div class="saves">
            <h1>{{localize "SBB.common.saves"}}</h1>
            <i class="fas fa-heart save-roll" title="{{localize "SBB.Saves.fortitude"}}" data-type="Fortitude"></i>
            <i class="fas fa-person-falling save-roll" title="{{localize "SBB.Saves.reflex"}}" data-type="Reflex"></i>
            <i class="fas fa-brain save-roll" title="{{localize "SBB.Saves.will"}}" data-type="Willpower"></i>
        </div>

        <div class="hp">
            <h3>{{localize "SBB.common.hp"}}</h3>
            <input class="health-input" name="system.HP.value" value="{{actor.system.HP.value}}" type="number" title="{{localize "SBB.common.health"}}"/>
            <input name="system.HP.max" value="{{actor.system.HP.max}}" type="number" title="{{localize "SBB.common.maxhealth"}}" disabled/>
        </div>

        <div class="armour">
        <!-- TODO armor value-->
            <h3>{{localize "SBB.common.armour"}}</h3>
        </div>

        <div class="speed-attribute">
            <h3>{{localize "SBB.attributes.move"}}</h3>
            <input class="attributes-input" name="system.attributes.move" type="number" value="{{actor.system.attributes.move}}"/>
        </div>

        <div class="strain-tracker">
            <h1>{{localize "SBB.common.strain"}}</h1>
            {{#repeat actor.system.strain.max}}
                <i class="strain-marker fas {{#if (lt ../actor.system.strain.value @index)}}fa-face-weary crossed
                {{else}}fa-smile{{/if}}" data-type="{{@index}}"></i>

            {{/repeat}}
        </div>
    {{/if}}


</div>