<div class="skill-box">

    <div class="skill-header">
        <h1>{{localize "SBB.common.skills"}} </h1>
        <nav class="sheet-navigation skills-tabs" data-group="skills">
            <a class="item" data-tab="body" title="{{localize "SBB.skills.body_long"}}">{{localize "SBB.skills.body_short"}}</a>
            <a class="item" data-tab="control" title="{{localize "SBB.skills.body_long"}}">{{localize "SBB.skills.control_short"}}</a>
            <a class="item" data-tab="intelligence" title="{{localize "SBB.skills.body_long"}}">{{localize "SBB.skills.intelligence_short"}}</a>
            <a class="item" data-tab="presence" title="{{localize "SBB.skills.body_long"}}">{{localize "SBB.skills.presence_short"}}</a>
            <a class="item" data-tab="technique" title="{{localize "SBB.skills.body_long"}}">{{localize "SBB.skills.technique_short"}}</a>
        </nav>
    </div>


    <section class="skills-content" data-group="skills">
        {{#each skills}}
            <div class="tab list" data-group="skills" data-tab="{{@key}}">
                <div class="add-icon">
                    <i class="fa fa-circle-plus add-item-button" data-type="Skill" data-category="{{@key}}"></i>
                </div>
                {{#each this}}
                    <h3>
                        <a class="skill-item item-rollable" data-type="{{_id}}">{{name}} : {{this.system.rank}}</a>
                    </h3>
                {{/each}}
            </div>
        {{/each}}
    </section>
</div>