<div class="skill-box">
    <div class="feat-header">
        <h1>Skills
        <nav class="sheet-navigation skills-tabs" data-group="skills">
            <a class="item" data-tab="Body" title="{{localize SBB.sills.body_long}}">{{localize "SBB.sills.body_short"}}</a>
            <a class="item" data-tab="Control" title="{{localize SBB.sills.body_long}}">{{localize "SBB.sills.control_short"}}</a>
            <a class="item" data-tab="Intelligence" title="{{localize SBB.sills.body_long}}">{{localize "SBB.sills.intelligence_short"}}</a>
            <a class="item" data-tab="Presence" title="{{localize SBB.sills.body_long}}">{{localize "SBB.sills.presence_short"}}</a>
            <a class="item" data-tab="Technique" title="{{localize SBB.sills.body_long}}">{{localize "SBB.sills.technique_short"}}</a>
        </nav>
        </h1>
    </div>


    <section class="skills-content" data-group="skills">
        {{#each skills}}
            <div class="tab list" data-group="skills" data-tab="{{@key}}">
                <i class="fa fa-plus add-skill-button" data-type="Skill" data-category="{{@key}}"></i>
                {{#each this}}
                    <div class="skill-item item-rollable" data-type="{{_id}}">
                        {{name}}
                        <div class="skill-rank-value" data-type="{{_id}}">+{{this.system.Rank}}</div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </section>
</div>