<div class="status-box flexcol">
        <div class="hp">
            <h1>{{localize "SBB.common.health"}}</h1>
            <input class="health-input" name="system.HP.value" value="{{actor.system.HP.value}}" type="number" title="{{localize "SBB.common.health"}}"/>
            <input name="system.HP.max" value="{{actor.system.HP.max}}" type="number" title="{{localize "SBB.common.maxhealth"}}" disabled/>
        </div>

        <div class="armour">
            <h1>{{localize "SBB.common.defences"}}</h1>
            {{> "systems/sbb/templates/sheets/partials/armourTable.hbs"}}
        </div>

        <div class="strain-tracker">
            <h1>{{localize "SBB.common.strain"}}</h1>
            <div class="strain-icons">
                {{#repeat actor.system.strain.max}}
                    <i class="strain-marker fas {{#if (lt ../actor.system.strain.value @index)}}fa-face-angry crossed
                    {{else}}fa-smile{{/if}}" data-type="{{@index}}"></i>
                {{/repeat}}
            </div>
        </div>

        <div class="saves">
            <h1>{{localize "SBB.common.saves"}}</h1>
            <i class="fas fa-heart save-roll" title="{{localize "SBB.saves.fortitude"}}" data-type="Fortitude"></i>
            <i class="fas fa-person-falling save-roll" title="{{localize "SBB.saves.reflex"}}" data-type="Reflex"></i>
            <i class="fas fa-brain save-roll" title="{{localize "SBB.saves.will"}}" data-type="Willpower"></i>
        </div>
</div>