<div class="status-box flexcol">
        <div class="hp">
            <h1>{{localize "SBB.common.health"}}</h1>
            <input class="health-input" name="system.HP.value" value="{{actor.system.HP.value}}" type="number" title="{{localize "SBB.common.health"}}"/>
            <input name="system.HP.max" value="{{actor.system.HP.max}}" type="number" title="{{localize "SBB.common.maxhealth"}}" disabled/>
        </div>

        <div class="armour">
            <h1>{{localize "SBB.common.defences"}}</h1>
            <table>
                <tr>
                    <td>{{localize "SBB.common.head"}}</td>
                    <td>{{actor.system.armour.head.techlevel}}</td>
                    <td>{{actor.system.armour.head.kinetic}}</td>
                    <td>{{actor.system.armour.head.energy}}</td>
                    <td>{{actor.system.armour.head.explosive}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{localize "SBB.weaponHeaders.techLevel"}}</td>
                    <td>{{localize "SBB.common.kinetic_short"}}</td>
                    <td>{{localize "SBB.common.energy_short"}}</td>
                    <td>{{localize "SBB.common.explosive_short"}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{localize "SBB.common.body"}}</td>
                    <td>{{actor.system.armour.body.techlevel}}</td>
                    <td>{{actor.system.armour.body.kinetic}}</td>
                    <td>{{actor.system.armour.body.energy}}</td>
                    <td>{{actor.system.armour.body.explosive}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="strain-tracker">
            <h1>{{localize "SBB.common.strain"}}</h1>
            <div class="strain-icons">
                {{#repeat actor.system.strain.max}}
                    <i class="strain-marker fas {{#if (lt ../actor.system.strain.value @index)}}fa-face-weary crossed
                    {{else}}fa-smile{{/if}}" data-type="{{@index}}"></i>
                {{/repeat}}
            </div>
        </div>

        <div class="saves">
            <h1>{{localize "SBB.common.saves"}}</h1>
            <i class="fas fa-heart save-roll" title="{{localize "SBB.saves.fortitude"}}" data-type="Fortitude"></i>
            <i class="fas fa-person-falling save-roll" title="{{localize "SBB.saves.reflex"}}" data-type="Reflex"></i>
            <i class="fas fa-brain save-roll" title="{{localize "SBB.saves.will"}}" data-type="Willpower"></i>
        </div>
</div>