<table>
    <tr>
        <td class="table-title">{{localize actor.system.type}}</td>
        <td class="table-title">{{localize actor.system.class}}</td>

        <td class="table-title">{{localize "SBB.common.health"}}</td>
        <td>
            <input class="health-input" name="system.HP.value" value="{{actor.system.HP.value}}" type="number" title="{{localize "SBB.common.health"}}"/>
        </td>
    </tr>
    <tr>
        <td class="table-title">{{localize "SBB.armour.techLevel"}}</td>
        <td>
            <input name="system.TL" value="{{actor.system.TL}}" type="number" disabled/>
        </td>

        <td class="table-title">{{localize "SBB.vehicle.statusLabels.armour"}}</td>
        <td>
            <input name="system.armour" value="{{actor.system.armour}}" type="number" disabled/>
        </td>
    </tr>
    <tr>
        <td class="table-title">{{localize "SBB.vehicle.statusLabels.power"}}</td>
        <td
            {{#if (eq actor.system.power.remaining 0)}} class="inactive" {{/if}}
            {{#if (lt actor.system.power.remaining 0)}} class="issue" {{/if}}>
            {{actor.system.power.remaining}}
        </td>

        <td class="table-title">{{localize "SBB.vehicle.statusLabels.fuel"}}</td>
        <td>
            <input class="fuel-input" name="system.fuel.value" value="{{actor.system.fuel.value}}" type="number" title="{{localize "SBB.vehicle.statusLabels.fuel"}}"/>
        </td>
    </tr>
    <tr>
        <td class="table-title">{{localize "SBB.vehicle.statusLabels.mass"}}</td>
        <td>{{actor.system.mass}}</td>

        <td class="table-title">{{localize "SBB.common.speed"}}</td>
        <td>
            <input name="system.speed" value="{{actor.system.speed}}" type="number" disabled/>
        </td>
    </tr>
    <tr>
        <td class="table-title">{{localize "SBB.vehicle.statusLabels.crew"}}</td>
        <td>
            <div style="display: inline"
                {{#if (lt actor.system.crew.value actor.system.crew.min)}} class="issue" {{/if}}>
                {{actor.system.crew.value}}
            </div>
            / {{actor.system.crew.max}} ({{actor.system.crew.min}})
        </td>

        <td class="table-title">{{localize "SBB.vehicle.statusLabels.commandPoints"}}</td>
        <td>
            <input class="commandPoint-input" name="system.commandPoints" value="{{actor.system.commandPoints}}" type="number" title="{{localize "SBB.vehicle.statusLabels.commandPoints"}}"/>
        </td>
    </tr>
</table>