<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

    <div class="Character-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="sheet">Sheet</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="bag">Bag</a>
            <a class="item" data-tab="bio">Bio</a>
        </nav>
    </div>

    <section class="sheet-body">
        <div class="class" data-group="primary" data-tab="skills">
            test
        </div>
        <div class="class1" data-group="primary" data-tab="bag">
            <h1><input name="spped" type="text" value="{{system.attributes.Move}}" placeholder="Name"/></h1>
        </div>

        <div class="class1" data-group="primary" data-tab="bio">
            <h1><input name="Fortitude" type="text" value="{{system.attributes.Fortitude}}" placeholder="Name"/></h1>
        </div>
    </section>
</form>