<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

    <div class="Character-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="main">Sheet</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="bag">Bag</a>
            <a class="item" data-tab="bio">Bio</a>
        </nav>
    </div>

    <section class="sheet-body">
        <div class="tab main" data-group="primary" data-tab="skills">
            
        </div>
        <div class="tab skill" data-group="primary" data-tab="skills">

        </div>
        <div class="tab bag" data-group="primary" data-tab="bag">

        </div>

        <div class="tab bio" data-group="primary" data-tab="bio">

        </div>
    </section>
</form>