<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

        <div class="character-info">
            <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SBB.common.name"}}"/></h1>

            <div class="xpbar">
                <label for="system.XP">{{localize "SBB.common.xp_long"}}:</label>
                <input name="system.XP" type="number" value="{{actor.system.XP}}"/>
            </div>
        </div>

    </div>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a> |
        <a class="item" data-tab="skills">Skills</a> |
        <a class="item" data-tab="bag">Bag</a> |
        <a class="item" data-tab="bio">Bio</a> |
        <!--TODO Make this item selected when in editing mode  -->
        <a class="item" >
            <img src="systems/sbb/assets/svg/cogwhell.svg" id="cogwhell"/>
        </a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="main">
            <div class="sheet-main">
                {{> "systems/sbb/templates/sheets/partials/character-attributes.hbs"}}
                {{> "systems/sbb/templates/sheets/partials/health-box.hbs" this}}
                {{> "systems/sbb/templates/sheets/partials/feat-box.hb"}}
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="skills">
            <div class="sheet-skill">
            test skills
        </div>
        </div>

        <div class="tab" data-group="primary" data-tab="bag">
            <div class="sheet-bag">
            test bag
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="bio">
            <div class="sheet-bio">
            test bio
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="data">
            <div class="sheet-data">


            </div>
        </div>

    </section>
</form>